@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Light theme (default) */
:root {
  --main-bg-color: #ffffff;
  --main-text-color: #333333;
  --background-color: #042a2b;
  --background-color1: #004e64;
  --background-color2: #042a2b;
  --text-color: white;
  --accent1-color: #AAD8D3;
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--secondary-color);
}


body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}


/* Dark theme styles */
body.dark-theme {
  --main-bg-color: #1f1f1f;
  --main-text-color: #f5f5f5;
  --main-accent-color: yellow;
}



header {
  margin-top: 20px;
  /* background-color: var(--background-color); */
  color: var(--text-color);
  padding: 20px 30px;
  display: flex;
  align-items: center;
}

header h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: var(--background-color1);
  }


.logo {
  display: flex;
  align-items: center;
}

.logo span {
    color: yellowgreen;
}

.logo img {
  height: 100px;
  margin-right: 10px;
}



nav {
  display: flex;
  align-items: center; 
  margin-left: 50%;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Active link styling */
.navLinks .navItem.active {
  color: var(--background-color); 
  border-bottom: 2px solid var(--background-color1); 
}



.menu-toggle {
  display: none;
}


.menu-toggle .close {
  display: none;
}

.menu-toggle .hamburger {
  display: inline;
}



nav.active {
  display: block; 
}


#theme-toggle {
  cursor: pointer;
  margin-left: 10px; 
}

#theme-toggle {
  height: 25px;
}



main {
    padding: 20px;
}


#subscribe {
    margin-top: 40px;
    text-align: center;
}

#subscribeForm {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#subscribeForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#subscribeForm button {
    padding: 10px;
    border: none;
    background-color: var(--background-color2);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#subscribeForm button:hover {
    background-color: var(--background-color1) ;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #eee;
    color: var(--background-color2);
    flex-wrap: wrap;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .footer-info {
    flex: 1;
    min-width: 250px;
  }
  
  
  
  .footer-info h1 {
    font-size: 18px;
  }
  
  
  
  .footer-icons {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }
  
  .footer-meta {
    font-size: 15px;
    flex: 1;
    min-width: 250px;
    text-align: right;
  }
  
  footer p {
    margin: 5px 0;
  }

  







  


  /* Media query for devices with a max-width of 768px */
@media (max-width: 768px) {

    body {
      padding: 10px; 
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
  
    header {
      display: block;
      margin-top: 10px; 
      padding: 10px;
      text-align: left;
      position: relative; 
    }
  
    header h1 {
      font-size: 10px;
      font-family: 'poppins', sans-serif;
    }

    .logo img {
        width: 100px;
        height: 70px;
    }
  
    #theme-toggle  {
      background: none;
      border: none;
      cursor: pointer;
      margin-left: 15px;
    }
  
    .menu-toggle {
      display: block; 
      background: none;
      border: none;
      color: black;
      font-size: 2rem;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }
  
    .toggle-box {
      display: flex;
      align-items: center;
      position: absolute;
      top: 23px;
      right: 0;
    }
  
    nav {
      display: none;
      flex-direction: column;
      /* background-color: black; */
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    nav.active {
      display: block;
    }
  
    /* Show/hide the hamburger and close buttons appropriately */
    .menu-toggle.open .hamburger {
      display: none; 
    }
  
    .menu-toggle.open .close {
      display: inline; 
    }
  
    nav ul {
      display: none;
    }
  
    nav.open ul {
      display: block;
    }
  

    .container {
        display: block;
    }
    
   }
  
